<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/defaultLayoutNoFooter">

<head>
    <title>LOGIN</title>
</head>

<body class="bg-gradient-primary">


<th:block layout:fragment="content">

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image" ></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">아부품앱(Atchar App)관리시스템</h1>
                                </div>
                                <form method="post" class="user">
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-user"
                                               aria-describedby="Userid Help" placeholder="아이디를 입력해주세요"
                                               id="username" name="username" value="" />
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user"
                                               placeholder="비밀번호를 입력해주세요"
                                               id="password" name="password" value="carenote" />
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox small">
                                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                            <input type="checkbox" class="custom-control-input" id="remember-me" name="remember-me">
                                            <label class="custom-control-label" for="remember-me">Remember Me</label>
                                        </div>
                                    </div>
                                    <button type="submit"  class="btn btn-primary btn-user btn-block">
                                        -로그인-
                                    </button>

                                    <div th:if="${param.error != null}">
                                        <hr>
                                        <h2>사용자정보를 확인해 주십시오.</h2>
                                        <h2 th:value="${param.error}"></h2>
                                    </div>

                                    <div th:if="${param.logout != null}">
                                        <hr>
                                        <h2>로그아웃되었습니다.</h2>
                                    </div>
                                </form>

                                <div class="text-center">
                                    <a id="idSearch" class="small" href='#'>아이디찾기</a>
                                </div>
                                <!--
                                <div class="text-center">
                                    <a class="small" href="register.html">Create an Account!</a>
                                </div>
                                -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
</th:block>

<th:block layout:fragment="script">
    <script th:src=@{/js/page/member/login.js}></script>
    <script>
        $(document).ready(function(){
            login.init();
        });
    </script>
</th:block>

</body>